.box-yellow{
    width: 190px;
    height: 190px;
    background-color: yellow;
    margin: 17px auto;
    position: absolute;
    top:1px;
    left: 522px;
}
.box-orange{
    width: 190px;
    height: 190px;
    background-color: darkorange;
    margin: 17px auto;
    position: absolute;
    top:235px;
    left: 655px;
}

.container{
    background:linear-gradient(90deg, rgba(33,37,41,1) 51%, rgba(0,20,39,1) 51%, rgba(0,20,39,1) 100%);
    color: white;
    width: 320px;
    height: 420px;
    margin: 20px auto;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
    padding: 17px;
    position: relative;
    z-index: 1030;
}

.container:hover .btnRead{
    transition: display,transform 900ms ease-out;
    display: block; 
    transform: translateY(-10%);
    transform: translateY(35%);
}

.container:hover .animate{
    transform: translateY(-100px);
    transition: transform 900ms ease-out;
}

.animate{
    font-size: 140px;
    color: #373a3c;
    position: absolute;
    right: 45px;
    top: 80px;

}

.text{
    position: relative;
    margin-top: 170px;
    line-height: 20px;
    z-index: 9999;
}



.btnRead{
    background-color:#212529 ;
    border: 1px solid white;
    padding: 5px;
    color: white;
    display: none;
    width: 100px;
}

 .btnRead:hover{
    background-color: white;
    border: 1px solid #100b1b;
    color: #212529;
} 

.pic-box{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: fixed;
    right: 9px;
    bottom: 9px;
}

.show{
    margin: 10px;
}